@import 'src/variables.scss';

.wrapper {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba($gray, 0.8);
}

.name {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: $accent;
    margin-bottom: 5px;
}

.data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.distance {
    p {
        margin: 10px 0;
    }

    .arrow {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: $accent;
    
        .right,
        .left {
            color: $accent;
            position: absolute;
            font-size: 22px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .right {
            right: -11px;
        }
    
        .left {
            left: -11px;
        }
    }
}

.diameter {
    display: flex;
    align-items: center;
    margin-left: auto;

    p {
        margin: 10px 0;
    }
}

.diameter_icon {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid $text-color;
    border-radius: 50%;
    margin-right: 10px;

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 40px;
        background-color: $text-color;
    }
}

.date {
    width: fit-content;
    margin-bottom: 20px;
    
    p {
        margin: 0;
        font-size: 16px;
        color: $accent;
    }
}

.bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    button {
        border: none;
        border-radius: 10px;
        color: $text-color;
        background-color: $gray;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px;
        width: fit-content;
        margin-right: auto;
        transition: $animation;
        cursor: pointer;

        &:hover {
            color: $accent;
        }
    }

    a {
        margin: 0 auto;
        width: fit-content;
        color: $text-color;
        background-color: $gray;
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: $animation;

        &:hover {
            color: $accent;
        }
    }

    .danger {
        margin-left: auto;

        div {
            display: flex;
            align-items: center;
        }
        svg {
            margin-left: 5px;
            font-size: 18px;
        }
    }
}

@media (max-width: ($mobile - 1px)) {
    .wrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }

    .name {
        font-size: 18px;
        line-height: 18px;
        margin: 0;
    }

    .data {
        margin: 0;
    }

    .diameter_icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;

        &::after {
            height: 30px;
        }
    }

    .distance {
        p {
            font-size: 12px;
        }
    }

    .diameter {
        p {
            font-size: 14px;
        }
    }

    .bottom {
        button, a {
            text-transform: initial;
            font-size: 12px;
        }
    }

    .danger {
        font-size: 12px;
    }
}