@import 'src/variables.scss';

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    padding: 0 50px;
}

.earth {
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    width: 20%;
    height: 80vh;
    z-index: 0;

    .img_wrapper {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        width: auto;
        height: 100%;
        display: block;
        animation-name: rotation;
        animation-duration: 270s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }
}

.asteroids {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    order: 1;
}

@media (max-width: (1920px)) {
    .earth {
        left: 0;
    }
}

@media (max-width: ($tablet - 1)) {
    .wrapper {
        padding: 0 30px;
    }
    
    .earth {
        left: -10%;
    }
}

@media (max-width: ($mobile - 1)) {
    .wrapper {
        padding: 0 20px;
    }

    .earth {
        left: -50%;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

