@import 'src/variables.scss';

.wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1920px;
    min-width: 320px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;

    > a {
        display: flex;
        align-items: center;

        span {
            color: $text-color;
            margin-bottom: 0;
            transition: $animation;
        }

        svg {
            margin-right: 10px;
            width: 80px;
            height: auto;
        }

        &:hover {
            span {
                color: $accent;
            }
        }
    }

    > a, 
    .link {
        color: $text-color;
        text-decoration: none;
        transition: $animation;

        &:hover {
            color: $accent;
        }
    }

    .link_active {
        color: $accent;
        opacity: 0.5;
        text-decoration: none;
        transition: $animation;
    }
}

.links {
    display: flex;
}

.link, 
.link_active {
    display: block;
    font-weight: bold;
    padding: 30px 15px;
}

.toggle {
    display: none;
}

@media (max-width: ($mobile - 1)) {
    .wrapper {
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        background-color: $bg-color;
        padding: 10px 20px;

        > a {
            svg {
                width: 50px;
            }
            span {
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .links {
        position: absolute;
        display: flex;
        width: fit-content;
        text-align: right;
        background-color: $bg-color;
        flex-direction: column;
        right: -100%;
        top: 70px;
        padding: 0 20px 20px 20px;
        border-radius: 0 0 0 20px;
        transition: $animation;
    }

    .link,
    .link_active {
        padding: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border: none;

        &::after,
        &::before {
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $text-color;
            transform: translate(0, -50%);
            transition: $animation;
        }

        &::after {
            top: 2px;
        }

        &::before {
            bottom: 0;
        }

        div {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $text-color;
            transition: $animation;
            top: 50%;
            border-radius: 3px;
            transform: translate(0, -50%);
        }
    }

    .toggle_open {
        &::after {
            top: 50%;
            transform: rotate(45deg);
        }

        &::before {
            bottom: 43%;
            transform: rotate(-45deg);
        }

        div {
            transform: rotate(-45deg);
        }
    }

    .toggle_open ~ .links {
        right: 0;
    }
}