@import 'src/variables.scss';

.wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1920px;
    min-width: 320px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;

    > a {
        display: flex;
        align-items: center;

        span {
            color: $text-color;
            margin-bottom: 0;
            transition: $animation;
        }

        svg {
            margin-right: 10px;
            width: 80px;
            height: auto;
        }

        &:hover {
            span {
                color: $accent;
            }
        }
    }

    > a, 
    .link {
        color: $text-color;
        text-decoration: none;
        transition: $animation;

        &:hover {
            color: $accent;
        }
    }
}

.links {
    display: flex;
}

.link {
    display: block;
    font-weight: bold;
    padding: 30px 15px;
}

.toggle {
    display: none;
}

@media (max-width: $mobile) {
    .links {
        position: absolute;
        right: -100%;
        top: 80px;
        transition: $animation;
    }

    .toggle {
        position: relative;
        display: block;
        width: 50px;
        height: 40px;
        background-color: transparent;
        border: none;

        &::after,
        &::before {
            display: block;
            position: absolute;
            content: '';
            width: 80%;
            height: 3px;
            border-radius: 3px;
            background-color: $text-color;
            transform: translate(0, -50%);
            transition: $animation;
        }

        &::after {
            top: 0;
        }

        &::before {
            bottom: 0;
        }

        div {
            position: absolute;
            width: 80%;
            height: 3px;
            background-color: $text-color;
            transition: $animation;
            top: 50%;
            border-radius: 3px;
            transform: translate(0, -50%);
        }
    }

    .toggle_open {
        &::after {
            top: 50%;
            transform: rotate(45deg);
        }

        &::before {
            bottom: 43%;
            transform: rotate(-45deg);
        }

        div {
            transform: rotate(-45deg);
        }
    }

    .toggle_open ~ .links {
        right: 0;
        top: 80px;
    }
}